@each $fontsMap, $value in $fontsMap {
  .font-#{$fontsMap} {
    font-family: #{$value};
  }
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 800;
}

.fs-xl{
  font-size: 55px;
}
.fs-lg{
  font-size: 32px;
}
.fs-md {
  font-size: 18px;
}
.fs-sm {
  font-size: 16px;
}

.fs-xs {
  font-size: 14px;
}
.fs-xxs {
  font-size: 12px;
}

@include sm {
  p.fs-md {
    font-size: 16px;
  }
}