{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shaxsiy reja</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="{% static 'css/core/libs.min.css' %}">

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="{% static 'css/hope-ui.min.css' %}">

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">

    <!-- Dark / Customizer / RTL (ixtiyoriy) -->
    <link rel="stylesheet" href="{% static 'css/dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/customizer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rtl.min.css' %}">

    <style>
        body {
            font-family: system-ui, Arial, sans-serif;
            padding: 24px;
            color: darkblue
        }

        .wrap {
            max-width: 520px;
            margin: 0 auto;
        }

        .btn {
            display: block;
            padding: 12px 16px;
            margin: 10px 0;
            border-radius: 8px;
            text-decoration: none;
            text-align: center;
            border: 1px solid #ddd;
        }

        {#.btn:hover {#}
        {#    background: #f7f7f7;#}
        {#}#}
    </style>
</head>
<body data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags|default:'info' }} mb-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="wrapper">
    <section class="login-content">
        <div class="row m-0 align-items-center bg-white vh-100">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card">
                            <div class="card-body">
                                <a href="/" class="navbar-brand d-flex align-items-center mb-3">
                                    <div class="logo-main">
                                        <div class="logo-normal">
                                            <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2"
                                                      transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"/>
                                                <rect x="7.72803" y="27.728" width="28" height="4" rx="2"
                                                      transform="rotate(-45 7.72803 27.728)" fill="currentColor"/>
                                                <rect x="10.5366" y="16.3945" width="16" height="4" rx="2"
                                                      transform="rotate(45 10.5366 16.3945)" fill="currentColor"/>
                                                <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2"
                                                      transform="rotate(45 10.5562 -0.556152)" fill="currentColor"/>
                                            </svg>
                                        </div>
                                        <div class="logo-mini">
                                            <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2"
                                                      transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"/>
                                                <rect x="7.72803" y="27.728" width="28" height="4" rx="2"
                                                      transform="rotate(-45 7.72803 27.728)" fill="currentColor"/>
                                                <rect x="10.5366" y="16.3945" width="16" height="4" rx="2"
                                                      transform="rotate(45 10.5366 16.3945)" fill="currentColor"/>
                                                <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2"
                                                      transform="rotate(45 10.5562 -0.556152)" fill="currentColor"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <h4 class="logo-title ms-3">KPI tizimiga kirish</h4>
                                </a>

                                <div class="wrap">
                                    <a class="btn btn-primary d-flex align-items-center justify-content-center"
                                       href="{% url 'login_start_profile' 'employee' %}">
                                        <svg class="me-2" width="20" height="20" fill="currentColor"
                                             viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 2-2 2H2c-1 0-2-1-2-2v-1c0-1 1-2 2-2h12c1 0 2 1 2 2v1z"/>
                                        </svg>
                                        Professor o'qituvchilar
                                    </a>

                                    <a class="btn btn-success d-flex align-items-center justify-content-center mt-3"
                                       href="{% url 'login_start_profile' 'student' %}">
                                        <svg class="me-2" width="20" height="20" fill="currentColor"
                                             viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 2-2 2H2c-1 0-2-1-2-2v-1c0-1 1-2 2-2h12c1 0 2 1 2 2v1z"/>
                                        </svg>
                                        Talabalar
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="sign-bg">
                    <svg width="280" height="230" viewBox="0 0 431 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.05">
                            <rect x="-157.085" y="193.773" width="543" height="77.5714" rx="38.7857"
                                  transform="rotate(-45 -157.085 193.773)" fill="#3B8AFF"/>
                            <rect x="7.46875" y="358.327" width="543" height="77.5714" rx="38.7857"
                                  transform="rotate(-45 7.46875 358.327)" fill="#3B8AFF"/>
                            <rect x="61.9355" y="138.545" width="310.286" height="77.5714" rx="38.7857"
                                  transform="rotate(45 61.9355 138.545)" fill="#3B8AFF"/>
                            <rect x="62.3154" y="-190.173" width="543" height="77.5714" rx="38.7857"
                                  transform="rotate(45 62.3154 -190.173)" fill="#3B8AFF"/>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
                <img src="{% static 'images/auth/01.png' %}" class="img-fluid gradient-main animated-scaleX"
                     alt="images">
            </div>
        </div>
    </section>
</div>

<!-- Scripts -->
<script src="{% static 'js/core/libs.min.js' %}"></script>
<script src="{% static 'js/core/external.min.js' %}"></script>
<script src="{% static 'js/charts/widgetcharts.js' %}"></script>
<script src="{% static 'js/charts/vectore-chart.js' %}"></script>
<script src="{% static 'js/charts/dashboard.js' %}"></script>
<script src="{% static 'js/plugins/fslightbox.js' %}"></script>
<script src="{% static 'js/plugins/setting.js' %}"></script>
<script src="{% static 'js/plugins/slider-tabs.js' %}"></script>
<script src="{% static 'js/plugins/form-wizard.js' %}"></script>
<script src="{% static 'js/hope-ui.js' %}" defer></script>
</body>
</html>






