.blog-date {
  position: absolute;
  bottom: 8%;
  display: block;
  background: $secondary-color;
  font-size: 14px;
  font-weight: 500;
  color: $title-color;
  text-transform: uppercase;
  padding: 10px 27px;
  letter-spacing: 2px;
  border-radius: 0px 6px 6px 0;
  &:hover {
    background: $title-color;
    color: $white-color;
  }
}
.vs-quote {
  display: flex !important;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 40px;
  position: relative;
  padding: 0px 30px 0px 50px;
  font-family: $body-font;
  text-transform: capitalize;
  color: $title-color;
  p {
    color: $title-color;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0 !important;
    padding-left: 30px;
    text-transform: capitalize;
  }

  &:before {
    height: 100%;
    right: auto;
    position: absolute;
    left: 10px;
    top: 12px;
    color: $body-color;
    bottom: 0;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    content: "\f10e";
    font-family: "Font Awesome 5 Pro";
  }
}
.blog-single {
  padding-bottom: 52px;
  border-bottom: 1px solid #e1e6e2;
  position: relative;
  margin-bottom: 52px;
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: $body-color;
    bottom: -1px;
    right: 0px;
    border-radius: 5px;
  }

  .blog-img {
    position: relative;
    margin-bottom: 30px;
    border-radius: 6px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 6px;
    }
  }
  .blog-single .blog-meta {
    margin-bottom: 8px;
    margin-top: -0.45em;
    padding-top: 0;
  }
  .blog-meta span,
  .blog-meta a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    position: relative;

    &:hover {
      color: $theme-color;
    }

    i {
      margin-right: 8px;
      color: #80a5a6;
    }
  }
  .blog-meta {
    margin-bottom: 5px;
    display: flex;
    > a {
      padding-right: 16px;
      margin-right: 10px;
      font-weight: 700;
      color: $title-color;
    }
    .categorys {
      > a {
        padding-right: 0;
        margin-right: 0;
        color: $body-color;
        font-weight: 600;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
  .blog-meta > a:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    height: 10px;
    width: 1px;
    background-color: #90d9dd;
  }
  .blog-title {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 600;
    color: $title-color;
    margin: 0 0 18px 0;

    a {
      color: $title-color;

      &:hover {
        color: $theme-color;
      }
    }
  }
  .blog-bottom {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $border-color;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      background: var(--body-color);
      bottom: -1px;
      right: 0px;
      border-radius: 5px;
    }
    .link-btn {
      background: unset;
      color: $title-color;
      display: inline-block;
      padding: 5px 0px 10px 0px;
      font-size: 13px;
      border-bottom: 2px dotted #525f8d;
      text-transform: uppercase;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
.share-links-title {
  font-size: 14px;
  font-weight: 700;
  color: $title-color;
  line-height: 26px;
  font-family: var(--body-font);
  margin: 0 10px 0 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.share-links {
  margin: 70px 0 50px 0;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 21px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: var(--body-color);
    bottom: -1px;
    right: 0px;
    border-radius: 5px;
  }
}
.social-links {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: $title-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
.share-links .tagcloud {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $body-color;
}
.blog-single {
  border-bottom: unset;
  padding-bottom: 0;
  margin-bottom: 0;

  &::after {
    content: none;
  }
}
.blog-author {
  display: flex;
  align-items: center;
  background-color: $title-color;
  padding: 30px 45px;
  margin: 50px 0 20px;
  .media-img {
    width: 154px;
    height: 154px;
    margin-right: 32px;
    overflow: hidden;
    border-radius: 50%;
  }

  .author-name {
    color: $white-color;
    font-size: 26px;
    font-family: $title-font;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .author-text {
    color: $smoke-color;
    margin-bottom: 22px !important;
  }
}
.blog-author .author-links a {
  display: inline-block;
  color: $white-color;
  font-size: 18px;
  margin-right: 15px;

  &:hover {
    color: $secondary-color;
  }
}
.blog-single .post-pagination {
  margin: 0px 0 50px;
}
.blog-style1 {
  background-color: var(--white-color);
  padding: 20px 20px 30px 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px 0.77px rgba(130, 138, 138, 0.1);
  margin: 15px 0 30px;
  .blog-img {
    position: relative;
    margin-bottom: 20px;
  }
  .blog-date {
    padding: 7px 12px;
    top: 0;
    left: 5%;
    bottom: unset;
    background-color: $secondary-color;
    border-radius: 0px 0px 6px 6px;
    span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: var(--title-color);
      line-height: 21px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .blog-meta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e7e7;
    a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      color: $title-color;
      &:hover {
        color: $secondary-color;
        // i{
        //    color: $theme-color;
        // }
      }
      i {
        color: $secondary-color;
        font-size: 13px;
        margin-right: 8px;
        transition: all 0.4s ease;
      }
    }
    > a:not(:last-child):after {
      content: "~";
      font-size: 22px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #6976a4;
    }
  }
  .blog-content {
    text-transform: capitalize;
    text-align: center;
    .blog-title {
      line-height: 26px;
      a {
        color: $title-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .blog-text {
      font-weight: 500;
    }
  }
}
@include lg {
  .blog-style1 .blog-meta {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
}
@include md {
  .blog-single .blog-title {
    font-size: 24px;
  }
  .blog-author {
    display: block;
    text-align: center;
    .media-img {
      margin: 0 auto 20px;
    }
  }
  .blog-style1 .blog-meta {
    justify-content: space-around;
  }
}
@include sm {
  .blog-date {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 6px 16px;
  }

  .blog-single {
    padding-bottom: 25px;
    margin-bottom: 10px;
  }

  .blog-title {
    font-size: 24px;
  }
  .blog-single .blog-meta {
    > a {
      font-size: 12px;
    }
    .categorys {
      a {
        font-size: 12px;
      }
    }
  }
}
