.contact-style1 {
  background-color: #111330;
  padding: 50px 60px 45px 60px;
  
  .contact-title {
    color: $white-color;
    border-bottom: 3px solid $secondary-color;
    width: max-content;
    margin: -0.2em 0 30px 0;
  }

  .contact-text {
    color: #E8E8E8;
    font-weight: 500;
    margin: 0 0 27px 0;
    max-width: 250px;
  }
  
  .contact-info {
    color: #E8E8E8;
    font-weight: 500;
    margin-bottom: 17px;
    position: relative;
    padding: 0 0 0 45px;

    &:last-child {
      margin-bottom: 0;
    }

    >img,
    >i {
      font-size: 24px;
      position: absolute;
      left: 0;
      top: 0;
    }

    a {
      color: inherit;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.info-box {
  background-color: $title-color;
  padding: 55px 50px 60px 50px;
  margin-bottom: 30px;

  .info-box-title {
    color: $white-color;
    font-size: 24px;
    margin: 0 0 30px 0;
    text-decoration: underline;
    text-decoration-color: $secondary-color;
    text-underline-offset: 4px;
  }

  .vs-media {
    border-bottom: 1px solid rgba(#fff, 0.20);
    margin: 0 0 23px 0;
    padding: 0 0 24px 0;

    &:first-child {
      padding-top: 8px;
    }

    &:last-child {
      margin-bottom: 43px;
    }
  }
}


@include ml {
  .contact-style1 {
    padding: 40px 40px 35px 40px;
  }
}

@include sm {
  .contact-style1 {
    padding: 30px 20px 30px 20px;

    .contact-title {
      margin-bottom: 20px;
    }

    .contact-text {
      margin: 0 0 17px 0;
      max-width: 100%;
    }
  }

  .info-box {
    padding: 45px 20px 50px 20px;

    .info-box-title {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
  }
}