/*-- margin Left And Right --*/
// @for $i from 1 through $space-count {
//   .mx-#{5 * $i} {
//     margin-right: 5px *$i;
//     margin-left: 5px *$i;
//   }
// }

// /*-- margin Top And Bottom --*/
// @for $i from 1 through $space-count {
//   .my-#{5 * $i} {
//     margin-top: 5px *$i;
//     margin-bottom: 5px *$i;
//   }
// }

// /*-- margin Top --*/
// @for $i from 1 through $space-count {
//   .mt-#{5 * $i} {
//     margin-top: 5px *$i;
//   }
// }

// /*-- margin Bottom --*/
// @for $i from 1 through $space-count {
//   .mb-#{5 * $i} {
//     margin-bottom: 5px *$i;
//   }
// }

// /*-- margin Left --*/
// @for $i from 1 through $space-count {
//   .ml-#{5 * $i} {
//     margin-left: 5px *$i;
//   }
// }

// /*-- margin Right --*/
// @for $i from 1 through $space-count {
//   .mr-#{5 * $i} {
//     margin-right: 5px *$i;
//   }
// }


.mt-n1 {
  margin-top: -.25rem;
}

.mt-n2 {
  margin-top: -.5rem;
}

.mt-n3 {
  margin-top: -1rem;
}

.mt-n4 {
  margin-top: -1.5rem;
}

.mt-n5 {
  margin-top: -3rem;
}

.mb-n1 {
  margin-bottom: -.25rem;
}

.mb-n2 {
  margin-bottom: -.5rem;
}

.mb-n3 {
  margin-bottom: -1rem;
}

.mb-n4 {
  margin-bottom: -1.5rem;
}

.mb-n5 {
  margin-bottom: -3rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}
